@model IEnumerable<WhatShouldWePlayMVCNoAuth.Models.SteamUser>  
  
@{  
    ViewBag.Title = "Friends";  
}  
  
<div class="form-horizontal">  
  
    <hr />  
    <div class="form-group">  
  
  
        <table class="table table-responsive" style="width:400px">  
            <tr>  
                <th>  
                    @Html.DisplayNameFor(model => model.SteamID)  
                </th>  
                <th>  
                    @Html.DisplayNameFor(model => model.Avatar)  
                </th>
                <th>  
                    @Html.DisplayNameFor(model => model.PersonaName)
                </th>  
                  
            </tr>  
  
            @foreach (var item in Model)
            {
                <tr>  
                    <td>  
                        @Html.DisplayFor(modelItem => item.SteamID)  
                    </td>  
                    <td>  
                        <img src="@Html.DisplayFor(modelItem => item.Avatar)" alt="@Html.DisplayNameFor(model => model.Avatar)"/> 
                    </td>  
                    <td>  
                        @Html.DisplayFor(modelItem => item.PersonaName)  
                    </td>  
                </tr>  
            }
        </table>
    </div>  
</div>